body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.fw-600 {
  font-weight: 600;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.bg-color {
  background-color: #F7B617;
}

.nav-links {
  font-size: 1.05rem;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.nav-links:hover {
  text-decoration: none;
  color: slategray;
}

.bg-carro1 , .bg-carro1-app{
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 92%;
  height: 115vh;
}

.register , .register-app{
  padding: 40px;
  margin-top: 24vh;
  color: white;
}

.register h1 {
  font-size: 2.3rem;
  line-height: 0.8em;
}

.register h2 {
  font-size: 1.5rem;
}

.register button , .register-app button{
  font-size: 1.15rem;
}

.register hr {
  width: 13vw;
}

.register span {
  font-size: 1rem;
}

.register-app h1{
  font-size: 1.3rem;
}

.cell-app div , .cell-app-app div{
  width: 100vw 80vw;
}

.cell-app img {
  height: 80vh 80vh;
}

.cell-app h1 {
  font-size: 1.90rem;
}

.cell-app-app h2{
  font-size: 0.98rem;
}

.cell-app-app img{
  height: 50vh;
}

.conduce {
  background-image: url(../assets/images/conduce.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.conduce-area {
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  height: 80vh;
}

.conduce-area h1 {
  font-size: 1.9rem;
}

.conduce-area p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.btn-yellow {
  font-size: 1.15rem;
}

.bg-color-modal {
  background-color: #F7B617;
}

.fa-user-circle {
  color: #fff;
}

.modal h5 {
  background-color: #F7B617;
  border-radius: 6px;
}

.registrar-button {
  background-color: #F7B617;
}

.registrar-opcao {
  background-color: rgba(221, 221, 221, 0.699);
}

footer {
  background-color: #2B2B2B;
  height: 100vh;
  font-size: 0.9rem;
  font-weight: 500;
}

